--code-color: #3f3f3f;
--code-background: #f5f2f0;
--code-text-shadow: none;

--code-t-text: green;
--code-t-number: #905;
--code-t-selector: #690;
--code-t-operator: #9a6e3a;
--code-t-keyword: #07a;
--code-t-variable: #e90;
--code-t-function: #dd4a68;

--code-line-number-color: #999999;
--code-line-number-divider: 1px solid var(--code-line-number-color);